@import "~antd/lib/style/index";


.container {
    width: 100%;
    display: flex;
    align-self: center;
    margin: auto;
}

.float-right {
    float: right;
}

.content-side-right {
    width: calc(100% - 256px);
}
.title {
    text-align: center;
    display: flex;
    justify-content: center;
}
.breadcrumbct {
    height: 50px;
    padding: 20px;
}